# =========================
# Python
# =========================
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.log

# Django
.env
*.env
staticfiles/

# =========================
# Node / Vue
# =========================
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db

# VS Code / IDE
.vscode/
.idea/

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Misc
# =========================
*.swp
*.swo
# ref folder
/ref